*,
body,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
nav {
  display: flex;
  width: 20%;
  justify-content: space-around;
  margin-left: auto;
  padding: 2em;
}

nav > a {
  text-decoration: none;
  color: black;
  margin-right: -60px;
  font-size: 15px;
  padding: -10px;
}
nav > img {
  height: 20px;
}

main {
  width: 50%;
  margin: 2em auto;
  text-align: center;
}

main > img {
  margin-bottom: 20px;
  width: 40%;
}

input {
  height: 55px;
  margin-bottom: 80px;
  width: 80%;
  padding: 1em;
  border-radius: 30px;
  border: 1px solid rgb(223, 225, 229);
}

.btn-class {
  margin-top: 1em;
}

.btn-class > button {
  padding: 1em;
  border: none;
}

footer {
  background-color: rgb(242, 242, 242);
  margin-top: 10em;
}
.footer-top {
  padding: 1em;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-top: 1px solid gray;
}
.left > a {
  margin-right: 1em;
}
.right > a {
  margin-right: 1em;
}
